
.base-container-db
{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-db{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 168px;
  background: #DCDDE1;
  border-bottom: 2px solid #58BDF3 ;
}

.navBar{
  width: 80%;
  margin: 99px 0px;
}

.adminLogo{
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 2px solid#0097E6;
  box-sizing: border-box;
  position:absolute;
  right:0px;
  
}

.admn{
  width: 165px;
  line-height: 155px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #0D90EF;
}

.tablo {
    /* text-align: center; */
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin: auto;
    
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }

  .tabl-container{
    text-align: center;
    display: block;
    overflow-x: auto;
    width: 100%;
    margin-left: -99px;
   
  }

.filter-container{
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.filter-input{
  background: #DCDDE1;
}

.filter-field{
  text-align: left;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #0D90EF;
}

.filter-divs{
  width: 21%;
  margin: 1%;
}

.filter-btn{
  margin-left : 50px;
}
 .no_data{
   padding: 82px 32px 0 ;
 }

.tmnal{
  width: 50px;
  height: 50px;
}
