
.bod {
    margin-top:70px;
    width: 60%;
    /* margin: auto; */
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    /*background: #12c2e9;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #1377fa, #018dff, #01f3fc);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    
  }
  
  .formati{
    margin: -44px 35px;
  }

  .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  