.admn{
    width: 460px;
    height: 55px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;

    color: rgba(0, 0, 0, 0.46);
}

.logout{
    width: 495px;
    height: 41px;
    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: rgba(0, 0, 0, 0.46);
}

.bienvenu{
    width: 328px;
    height: 34px;
    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.46);
}

.base-container {
    width:100%;
    display:  flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 120px;
    margin-top: 90px;
}

.bar {
    left: 200px;
    top: 350px;
}


h1, h3,h4, ul{
    width: 100%;
    text-align: left;
    margin: 25px 0px;
  }

li{
    width: 150px;
    background: #DCDDE1;
    border-radius: 2px;
}

a{
    color: #62C7FD;
}

.medcin{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid#0097E6;
    box-sizing: 10px;
}

.line{
    border-bottom: 2px solid #DCDDE1 ;
    margin-right: 10px;
}

  body{
    background: #E5E5E5;
  }

  .d-board{
    display: flex;                
    flex-direction: row;           
    flex-wrap: nowrap;
    width: 70%;
    margin-top: 60px;        
  }

  .b_row {
      width: 27%;
      margin: 1%;
  }

  .b_card {
      background-color: #fff;
      height: 150px;
      max-width: 300px;
      border-radius: 10px;
  }

  .top_card {
    height: 70%;
    position: relative;
    border-bottom: 1px solid #DCDDE1;
  }

  .bottom_card {
      height: 29%;
      display: flex;
      justify-content: left;
      align-items: center;
  }

  .bottom_card button {
      display: flex;
      color: #DCDDE1;
      background-color: transparent;
      border: none;
      align-items: center;
  }

  .bottom_card button p {
    margin-top: 11px;
    font-size: 11px;
  }

  .bottom_card button span {
      font-size: 36px;
      margin-bottom: 8px;
  }

  .med_img {
      position: absolute;
      left: 5px;
      top: 5px;
  }

  .med_info {
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: Quando;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px; 
  }

  .med_nb {
    float: right;
    margin-right: 5px;
    color: #3381CC;
  }



  .doct{
    float:left; 
    width:180px; 
    height:160px; 
}
.infr{
    float:left; 
    width:180px; 
    height:160px; 
    margin-left:20px;
}

.recp{
    /* float:right;  */
    width:180px; 
    height:160px; 

}

  