
.tablo {
    /* text-align: center; */
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin: auto;
    
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }

  .tabl-container{
    text-align: center;
    display: block;
    overflow-x: auto;
    width: 100%;
   
  }

.filter-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  margin-top: 60px;
}

.filter-input{
  background: #DCDDE1;
}

.filter-field{
  text-align: left;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #0D90EF;
}

.filter-divs{
  width: 21%;
  margin: 1%;
}

.filter-btn{
  
  margin-top : 0%;
}


