.admn{
    width: 460px;
    height: 55px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;

    color: rgba(0, 0, 0, 0.46);
}

.logout{
    /* position: absolute; */
    width: 495px;
    height: 41px;
    /* left: 143px;
    top: 221px; */

    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: rgba(0, 0, 0, 0.46);
}

.bienvenu{
    /* position: absolute; */
    width: 328px;
    height: 34px;
    /* left: 146px;
    top: 325px; */

    font-family: Rokkitt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.46);
}

.base-container {
    width:100%;
    display:  flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 120px;
    margin-top: 90px;
}

.bar {
    left: 200px;
    top: 350px;
}


h1, h3,h4, ul{
    width: 100%;
    text-align: left;
    margin: 25px 0px;
  }

li{
    width: 150px;
    background: #DCDDE1;
    border-radius: 2px;
}

a{
    color: #62C7FD;
}


.medcin{
    width: 60px;
    height: 60px;
    /* left:0x;
    top: 0px; */

    border-radius: 50%;
    border: 2px solid#0097E6;
    box-sizing: 10px;
}

.line{
    border-bottom: 2px solid #DCDDE1 ;
    margin-right: 10px;
}

.child-1 {
    position: absolute;
    top: 5px;
    left: 10%;
  }

  .card {
    margin-top: 50px;
    border-bottom: 2px solid #DCDDE1 ;
    border-top: 2px solid #DCDDE1 ;
  }

  body{
    background: #E5E5E5;
  }

  .docNmbr{
      color: #3381CC;
  }

  .d-board{
    width:100%;
    display:  flex;
    /* flex-direction: row; */
     /* flex-wrap: nowrap; */
    /* margin-left: 120px;
    margin-top: 90px; */
  }